body{
   background-color: #212121; 
   color: aliceblue;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(224, 210, 210);
}
.logo{
    width: 100px;
    justify-content: space-between;
}
.nav-items > ul{
    display: flex;
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    list-style: none;
}
.res-card{
    padding: 10px;
    height: 400;
    width: 200px;
    /* border: 1px solid rgb(220, 208, 208); */
    background-color: rgb(84, 83, 83);
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
 
    /* display:inline-block; */
}
.search{
    padding: 5px;
    font-size: 1.2em;
    font-weight: bolder;
}
.res-logo{
    padding: 15px;
    width:  180px;
    height: 150px;
    font-size: 0.5em;
   
    align-self: center;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    
}
.res-card:hover{
    border: 1px solid white;
    cursor: pointer;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
}
.filter-btn:hover{
    border: white 1px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: rgb(40, 38, 38);
}
.login{
    background-color: #212121;
    color: aliceblue;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 10px;
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;


}
.search-box{
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    height: 25px;
    width: 500px;
    background-color: #080808;
    color: aliceblue;
    /* cursor: pointer; */
    border-radius: 5px;
    font: 1em sans-serif;
    border: 1px white;
    
}
.searchh{
    /* box-shadow: rgb(10, 10, 10); */
    font-weight: bold;
    font: 1em sans-serif;
    background-color: #141212;
    color: aliceblue;
    /* cursor: pointer; */
    border-radius: 5px;
}